name: content_validate

on:
  check_run:
  schedule:
    - cron: '0 9 * * WED'
    #- cron: '* * * * *'

jobs:
  content_validate:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
      
    - name: Set up Python 3.7
      uses: actions/setup-python@v1

      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install looker-sdk
    - name: Content Validation
      run: |
        echo "Checking for Broken content" 
        python .github/workflows/content_validation.py \
          --base-url https://dcloidc.dev.looker.com \
          --client-id ${{ secrets.my_client_id }} \
          --client-secret ${{ secrets.my_client_secret }}
        echo "::set-env name=LOOKS::$(cat looks.txt)" 
        echo "::set-env name=DASHBOARDS::$(cat dashboards.txt)" 
        echo "::set-env name=EXPLORES::$(cat explores.txt)" 
        echo "::set-env name=ERRORS::$(cat errors.txt)" 
    - name: slack_notify
      uses: 8398a7/action-slack@v2
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }} 
      with:
        status: custom
        payload: |
          {
              "blocks": [
                  {
                    "type": "section",
                    "text": {
                      "type": "mrkdwn",
                      "text": "${{ env.LOOKS }} \n ${{ env.DASHBOARDS }} \n ${{ env.EXPLORES }} \n ${{ env.ERRORS }}"
                    }
                  },
                  {
                    "type": "section",
                    "text": {
                      "type": "mrkdwn",
                      "text": "Check your content in the <https://demoexpo.looker.com/content_validator|Content Validator>."
                    }
                  }
                  ]
            }
 
